<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Logo</key>
	<array>
		<string>arsenal.jpg</string>
		<string>chealsea.jpg</string>
		<string>liverpool.png</string>
		<string>manchester.jpg</string>
	</array>
	<key>Club</key>
	<dict>
		<key>MU</key>
		<dict>
			<key>Degea</key>
			<array>
				<string>degea.jpg</string>
				<string>Degea</string>
				<string>24</string>
			</array>
			<key>Chicharito</key>
			<array>
				<string>chicharito.jpg</string>
				<string>Chicharito</string>
				<string>25</string>
			</array>
			<key>Rooney</key>
			<array>
				<string>rooney.jpg</string>
				<string>Rooney</string>
				<string>27</string>
			</array>
			<key>Vanpersie</key>
			<array>
				<string>vanpersie.jpg</string>
				<string>Vanpersie</string>
				<string>26</string>
			</array>
		</dict>
		<key>Arsenal</key>
		<dict>
			<key>Walcott</key>
			<array>
				<string>walcott.jpg</string>
				<string>Walcott</string>
				<string>24</string>
			</array>
			<key>Arshavin</key>
			<array>
				<string>arshavin.jpg</string>
				<string>Arshavin</string>
				<string>25</string>
			</array>
			<key>Wilshere</key>
			<array>
				<string>wilshere.jpg</string>
				<string>Wilshere</string>
				<string>27</string>
			</array>
			<key>Cazorla</key>
			<array>
				<string>cazorla.jpg</string>
				<string>Cazorla</string>
				<string>26</string>
			</array>
		</dict>
		<key>Liverpool</key>
		<dict>
			<key>Suarez</key>
			<array>
				<string>suarez.jpg</string>
				<string>Suarez</string>
				<string>24</string>
			</array>
			<key>Suso</key>
			<array>
				<string>suso.jpg</string>
				<string>Suso</string>
				<string>25</string>
			</array>
			<key>Gerrard</key>
			<array>
				<string>gerrard.jpg</string>
				<string>Gerrard</string>
				<string>27</string>
			</array>
			<key>Reina</key>
			<array>
				<string>reina.jpg</string>
				<string>Reina</string>
				<string>26</string>
			</array>
		</dict>
		<key>Chealsea</key>
		<dict>
			<key>Cech</key>
			<array>
				<string>cech.jpg</string>
				<string>Cech</string>
				<string>24</string>
			</array>
			<key>Torres</key>
			<array>
				<string>torres.jpg</string>
				<string>Torres</string>
				<string>25</string>
			</array>
			<key>Ba</key>
			<array>
				<string>ba.jpg</string>
				<string>ba.jpg</string>
				<string>27</string>
			</array>
			<key>Oscar</key>
			<array>
				<string>oscar.jpg</string>
				<string>Oscar</string>
				<string>26</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
